* {
    box-sizing: border-box;
}

body {
    height: 629px;

    background-color: #EEF9BF;
    font-family: 'Roboto';

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding-top: 40px;

    display: flex;
    justify-content: center;

    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;

    color: #75B79E;
}

main {
    width: 1110px;
    height: 100%;
    padding-top: 47px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.conjunto  {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.escondido {
    display: none;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;   

    margin-bottom: 34px;
}

.face {
    width: 100%;
    height: 100%;

    border-radius: 5px;
    border: 1px solid #99CEA8;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    background-color: #A7E9AF;
    
    backface-visibility: hidden;
    
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}


.virada-verso {
    transform: rotateY(0deg);
}


.virada-frente {
    transform: rotateY(-180deg);
}

.front-face img {
    width: 100px;
    height: 100px;

}

.face:hover {
    cursor: pointer;
}

@media (max-width: 535px) {
    body {
        height: auto;
    }
    main {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}